body {
  background-color: #141414;
}
article {
  position: relative;
  background-color: #141414 ;
  transition: all .3s  ease;
}

article img:first-child {
  border-radius: 4px;
  object-fit: cover;
  width: 100%;
}

article img:last-child {
  position: absolute;
  width: 200px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  transition:  .3s ease;
  opacity: 0;
}

article:hover {
  box-shadow: 0 60px 60px -60px rgba(0,30,255,0.5);
  transform:
      scale(1.2)
      rotateX(5deg)
      translate(0)
}

article::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background-image: 
linear-gradient(to bottom,
    transparent 10%,
    rgba(0,0,0,0.5) 50%,
    rgba(0,0,0) 95%);
  opacity: 0;
  transition: all .3s ease;
}

article:hover::before{
  opacity: 1;

}

article:hover img:last-child{
  opacity: 1;
  /*transform : translateY(.1%)*/ 
}
